<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <div style="text-align: center"><img src="C:\Users\Admin\Desktop\webassigment\img\Naveen.jpg" width="200" height="200" id="me" alt="My Picture"></div>   
    <div>
    <p>My name is Naveen Kanmani Thirunavukkarasu, I'm currently enrolled in Software Engineering Technology - Artificial Intelligence FT. 
        I'm in my 1st semester. I have graduated my Bachelors in Information Technology from India and was working as a Senior Software Engineer for 3.2 years. 
        I was a Full stack .NET developer.</p>
    </div>
</body>
<%- include('../partials/footer') %>
</html>